<center><h2>Cannabis Plants by Grow Room:</h2></center>
<div>
<% @light_sources.each do |l| %>
    <h2><%= link_to l.name, light_source_path(l) %> Grow Room</h2>
    </div>
    <br>
    <% l.cannabis_plants.each do |c| %>
    <ul>
        <li><h3>Farmer: <%= c.user.username %></h3></li>
        <li><h4>Cannabis strain: <%= c.strain.name %></h4></li>
        <li><h5>Number of seeds: <%= c.number_of_seeds %></h5></li>
        <li><h5>Growing method: <%= c.growing_method.name %></h5></li>
        <li><h5>Nutrient: <%= c.nutrient.name %></h5></li>
        <li><h5>pH value: <%= c.ph.measure %></h5></li>
        </ul>
        <br>
    <% end %>

<% end %>