<h2><%= @light_source.name %> Grow Room Contents:</h2>
<br>
<% @light_source.cannabis_plants.each do |l| %>
    <ul>
        <h3>Farmer: <%= l.user.username %></h3>
        <li><h4>Cannabis strain: <%= link_to l.strain.name, cannabis_plant_path(l)  %></h4></li>
        <li><h4>Number of seeds: <%= l.number_of_seeds %></h4></li>
        <li><h4>Growing method: <%= l.growing_method.name %></h4></li>
        <li><h4>Nutrient: <%= l.nutrient.name %></h4></li>
        <li><h4>pH value: <%= l.ph.measure %></h4></li>
        </ul>
        <br>
<% end %>



