<%= render partial: 'layouts/errors', locals:{object: @cannabis_plant}%>
<%= form_for(@cannabis_plant) do |f| %>
<div>
    <%= f.label :cannabis_species %>
    <%= f.text_field :cannabis_species %>
</div>

<div>
    <%= f.label :variety_name %>
    <%= f.text_field :variety_name %>
</div>

<div>
    <%= f.label :number_of_seeds %>
    <%= f.text_field :number_of_seeds %>
</div>

<div>
    <%= f.label :ready_to_harvest %>
    <%= f.check_box :ready_to_harvest %>
</div>

<p>Please select a grow room that already exists, or create your own:</p>
<div>
    <%= f.collection_select :grow_room_id, GrowRoom.all, :id, :name, :prompt => "Select a Grow Room" %>
</div>

<p>Create a new grow room!</p>
<%= f.fields_for :grow_room do |g| %>
    <%= g.label :name %>
    <%= g.text_field :name %>
    
    <%= g.label :growing_style %>
    <%= g.text_field :growing_style %>

    <%= g.label :nutrients %>
    <%= g.text_field :nutrients %>

    <%= g.label :ph %>
    <%= g.text_field :ph %>
<% end %>
<br />
<%= f.submit %>

<% end %>
