<%= render partial: 'layouts/errors', locals:{object: @cannabis_plant}%>

<h2><%= current_user.username %> Plant Your Cannabis Seeds:</h2>


<%= form_for(@cannabis_plant) do |f| %>

<div>
<%= f.label :strain %>
<%= f.collection_select :strain_id, Strain.all, :id, :name, :prompt => "Select a Strain" %></div>

<div>
    <%= f.label :number_of_seeds %>
    <%= f.text_field :number_of_seeds %>
</div>

<div>
    <%= f.label :growing_method %>
    <%= f.collection_select :growing_method_id, GrowingMethod.all, :id, :name, :prompt => "Select a Growing Method" %>
</div>

<div>
    <%= f.label :nutrient %>
    <%= f.collection_select :nutrient_id, Nutrient.all, :id, :name, :prompt => "Select a Nutrient" %></div>

<div>
    <%= f.label :ph %>
    <%= f.collection_select :ph_id, Ph.all, :id, :measure, :prompt => "Select a pH" %>
</div>

<p>Please select a light source:</p>
<div>
    <%= f.label :light_source %>
    <%= f.collection_select :light_source_id, LightSource.all, :id, :name, :prompt => "Select a Light Source" %>
</div>


<br />
<%= f.submit %>

<% end %>
