<%= render partial: 'errors', locals:{object: @cannabis_plant}%>
<%= form_for(@cannabis_plant) do |f| %>
<div>
    <%= f.label :cannabis_species%>
    <%= f.text_field :cannabis_species%>
</div>

<div>
    <%= f.label :cannabis_species%>
    <%= f.text_field :cannabis_species%>
</div>