<%= render partial: 'layouts/errors', locals:{object: @cannabis_plant}%>

<h1><%= current_user.username %> plant your cannabis seeds!</h1>


<%= form_for(@cannabis_plant) do |f| %>

<div>
<%= f.label :strain %>
<%= f.collection_select :cannabis_plant_id, CannabisPlant.all, :id, :strain, :include_blank: "Select a Strain" %>
</div>

<div>
    <%= f.label :number_of_seeds %>
    <%= f.text_field :number_of_seeds %>
</div>

<div>
    <%= f.label :growing_method %>
    <%= f.collection_select :cannabis_plant_id, CannabisPlant.all, :id, :growing_method, :include_blank: "Select a Growing Method" %>
</div>

<div>
    <%= f.label :nutrients %>
    <%= f.collection_select :cannabis_plant_id, CannabisPlant.all, :id, :nutrtients, :include_blank: "Select Nutrients" %>
</div>

<div>
    <%= f.label :ph %>
    <%= f.collection_select :cannabis_plant_id, CannabisPlant.all, :id, :ph, :include_blank: "Select pH" %>
</div>

<p>Please select a grow room:</p>
<div>
    <%= f.collection_select :grow_room_id, GrowRoom.all, :id, :light_source, :prompt => "Select a Grow Room" %>
</div>


<br />
<%= f.submit %>

<% end %>
