<% if current_user %>
    <h2> View all the cannabis plants for  <%= current_user.username %>:</h2>
<% else %>
    <h2> View all cannabis plants:</h2>
<% end %>
<div>
<% @cannabis_plants.each do |c| %>
    <h3>Farmer: <%= c.user.username %></h3>
    <ul>
        <li><h4>Cannabis strain: <%= link_to c.strain.name, cannabis_plant_path(c) %></h4></li>
        <li><h4>Number of seeds: <%= c.number_of_seeds %></h4></li>
        <li><h4>Growing method: <%= c.growing_method.name %></h4></li>
        <li><h4>Nutrient: <%= c.nutrient.name %></h4></li>
        <li><h4>pH value: <%= c.ph.measure %></h4></li>
        <li><h4>Grow Room: <%= link_to c.light_source.name, light_source_path(c) %> Room</h4></li>
    </ul>
    <br>
<% end %>
</div>
