<body>
<h1>Cannabis Plant Information for <%= current_user.username %></h1>
<ul>
<li><h4>Cannabis strain: <%= @cannabis_plant.strain.name %></h4></li>
<li><h4>Number of seeds: <%= @cannabis_plant.number_of_seeds %></h4></li>
<li><h4>Growing method: <%= @cannabis_plant.growing_method.name %></h4></li>
<li><h4>Nutrient: <%= @cannabis_plant.nutrient.name %></h4></li>
<li><h4>pH value: <%= @cannabis_plant.ph.measure %></h4></li>
<li><h4>Grow Room:<%= link_to @cannabis_plant.light_source.name, light_source_path(@cannabis_plant) %></h4></li>
</ul>
</body>
<div>
<br>
<h4><%= link_to "Harvest Your Cannabis Plant(s)!", cannabis_plant_harvests_path(@cannabis_plant), method: :create %></h4>
</div>
