<%= render partial: 'layouts/errors', locals:{object: @grow_room}%>

<p>Please select a grow room that already exists, or create your own:</p>
<div>
    <%= f.collection_select :grow_room_id, GrowRoom.all, :id, :name, :prompt => "Select a Grow Room" %>
</div>

<%= form_for(@grow_room) do |g| %>
<div>
    <%= g.label :name %>
    <%= g.text_field :name %>
</div>

<div>
    <%= g.label :growing_style %>
    <%= g.text_field :growing_style %>
</div>

<div>
    <%= g.label :type_of_soil %>
    <%= g.text_field :type_of_soil %>
</div>

<div>
    <%= g.label :type_of_medium %>
    <%= g.text_field :type_of_medium %>
</div>

<div>
    <%= g.label :nutrients %>
    <%= g.text_field :nutrients %>
</div>

<div>
    <%= g.label :ph %>
    <%= g.text_field :ph %>
</div>

<div>
    <%= g.label :type_of_light %>
    <%= g.text_field :type_of_light %>
</div>

<div>
    <%= g.label :room_temperature %>
    <%= g.text_field :room_temperature %>
</div>

<div>
    <%= g.label :relative_humidity %>
    <%= g.text_field :relative_humidity %>
</div>

<%= g.submit %>

<% end %>