<h1>Welcome to your Grow Rooms Index!</h1>

<% @grow_rooms.each do |g| %>
    <h2><%= g.light_source %>
    <% g.cannabis_plants.each do |c| %>
        <h4><%= c.strain %>
        <h4><%= c.number_of_seeds %>
        <h4><%= c.growing_method %></h4>
        <h4><%= c.nutrients %></h4>
        <h4><%= c.ph %></h4>
    <% end %>

<% end %>