<h1>This is your harvest!</h1>
<h4><%= @harvest.weight_of_flowers %></h4>
<h4><%= @harvest.weight_of_leaves %></h4>
<h4><%= @harvest.weight_of_roots %></h4>
<h4><%= @harvest.weight_of_seeds %></h4>
<h4><%= @harvest.weight_of_stalks %></h4>