<%= render partial: 'layouts/errors', locals:{object: @market}%>
<% if @harvest %>
    <h1> Add a market offer for <%=@harvest.cannabis_plant.%> <%= @bourbon.name %>!</h1>
<% else %>
    <h1> Add a review! </h1>
<% end %>

<%= form_for(@review) do |f| %>
<% if params[:bourbon_id] %>
    <%= f.hidden_field :bourbon_id %>
<% else %>
    <div>
        <%= f.label :bourbon_id, "Select a Bourbon" %>
        <%= f.collection_select :bourbon_id, Bourbon.all, :id, :name, include_blank: true %>
    </div>
    <% end %>
<div>
    <%= f.label :stars %>
    <%= f.number_field :stars, min:1, max:5 %>
</div>

<div>
    <%= f.label :title %>
    <%= f.text_field :title %>
</div>

<div>
    <%= f.label :content %>
    <%= f.text_area :content %>
</div>

<%= f.submit %>

<% end %>
© 2019 GitHub, Inc.