<h2><%= @market.harvest.cannabis_plant.user.username %>'s Market Offer for <%= @market.harvest.cannabis_plant.strain.name %></h2>
<ul>
    <li><h4><%= @market.amount_for_sale %> grams</h4></li>
    
    <li><h4>$<%= @market.asking_price %></h4></li>

    <li><h4><%= link_to "View all Cannabis Plant Harvests on Market", markets_path %></h4></li>
    </ul>
